body {
    font-family: Arial;
    margin-top: 30px;
}
.background {
    background-color: antiquewhite;
    display: inline-block;
    padding:50px;
}
p {
    margin-left: 180px;
}
.todo-grid, 
.todo-list-input {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;

}
.todo-list-input {
    margin-bottom: 10px;
}
.add-btn {
    background-color: rgb(16, 158, 16);
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 3px;
}
.del-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 3px;
    cursor: pointer;
}